# Dependencies
node_modules/
package-lock.json

# Environment
.env
*.env.local
*.env.development
*.env.production

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Docker
.docker/
docker-compose.override.yml

# Kubernetes
kubectl-edit-*.yaml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sistema operatiu
.DS_Store
Thumbs.db